.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.add-item-button {
    position: absolute;
    top: 125px;
    right: 450px;
    padding: 10px 15px;
    font-size: 0.8em; 
    background-color: #8ee091; 
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    z-index: 1; 
}