.shopping-list-section {
    position: relative;
    top: 30px;
    background-color: #e6f6fc; 
    padding: 300px;            
    border-radius: 10px;      
    width: 900px;             
    height: 300px;
    margin: 0 auto;           
    text-align: center;       
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .shopping-list-section h1 {
    font-size: 1.5rem;        
    color: #07033a;              
    margin: 23 auto;            
    text-align: center; 
  }
  

  .invite-button {
    position:relative;
    bottom: 893px;
    left:600px;
    margin-top: 10px;
    padding: 12px 35px;
    font-size: 0.9em;
    background-color: #827dc9;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button {
  position:relative;
  bottom: 893px;
  left:600px;
  margin-top: 10px;
  padding: 12px 35px;
  font-size: 0.9em;
  background-color: #827dc9;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.vertical-line {
  width: 1px;              
  background-color: #07033a; 
  height: 90%;           
  position: relative;
  bottom: 1240px;
  right: 420px;
  display: inline-block;  
}

.owner-display {
  position: absolute;
  bottom: 50px;
  left: 80px;
  display: flex;
  align-items: center;
  color: #64637c;
  font-size: 1em;
  font-weight: bold;
}

.pie-chart-container {
  display: flex;                        
  justify-content: center;              
  align-items: flex-start;            
  position: absolute;                   
  top: 195px;                           
  right: 20px;                          
  width: auto;                        
  height: auto;                         
}


